[submodule "OctarineEngine/flecs"]
	path = OctarineEngine/flecs
	url = https://github.com/SanderMertens/flecs
[submodule "OctarineEngine/physfs"]
	path = OctarineEngine/physfs
	url = https://github.com/icculus/physfs
[submodule "OctarineEngine/SDL_ttf"]
	path = OctarineEngine/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "OctarineEngine/SDL_sound"]
	path = OctarineEngine/SDL_sound
	url = https://github.com/icculus/SDL_sound
