[submodule "OctarineEngine/flecs"]
	path = OctarineEngine/flecs
	url = https://github.com/SanderMertens/flecs
[submodule "OctarineEngine/physfs"]
	path = OctarineEngine/physfs
	url = https://github.com/icculus/physfs
