[submodule "OctarineEngine/physfs"]
	path = OctarineEngine/physfs
	url = https://github.com/icculus/physfs
[submodule "OctarineEngine/SDL_ttf"]
	path = OctarineEngine/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "OctarineEngine/Vulkan2D"]
	path = OctarineEngine/Vulkan2D
	url = https://github.com/PaoloMazzon/Vulkan2D